/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */



html {
    margin: 0;
    padding: 0;
    font-size: size 16px;
    background-color: #ffff;
}

body {
    max-width: width 1200px;
    margin: 0 auto;
    width: 70%;
    padding: 1rem 2rem;
    font-family: "lato", sans-serif;
    min-width: 56.25rem;
}

header {
    border-bottom: .0625rem solid #3333;
    margin-bottom:4rem;
    padding-bottom: 2rem;
    transform: rotate(-12deg);
    writing-mode: lr-tb;
}

h1{
    font-size: 6rem;
    font-weight:100;
    color:#3333;
    font-family: "roboto condensed", sans-serif
}
h1 span {
    color:darkred
}
nav {
    padding-left: 0;
    margin-top: 0.25rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

nav a {
    text-decoration: none;
    display: inline;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    
}

img {
    float: left;
}
   
    div {
        float: left;
        padding: 15px; 
      }
 
      .div1 {
          float: center;
          padding: inline;
        }
      
      .div2 {
        float: center;
        padding: inline; 
    }
      
    .div3 {
        float: center;
        padding: inline; 
    }
.leftcolumn {   
    float: left;
    width: 75%;
  }
  
 
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
 
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }