/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */



/* General Setup */
*{
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 1.5rem auto;
    width: 90%;
    min-width: 56.25rem;
}

/* Layout */

main {
    overflow:auto;
    min-width: 45rem;
}

main section {
    float: left;
    width: 75%;
    min-width: 42.18rem;
}

sub section {
   float: right;
   width: 25%;
   min-width: 14.07rem;
}

figure {

}

article image {
    float: left;
    Width: 
}

figcaption {

}
nav {
    float: left;
    width: 11.25rem;
}

footer {
    clear: both;
    margin-top: 1.5rem;
}

section, sub section, nav, footer {
    padding: .5rem;
}

/*header and footer */


/* Imported Typeface*/

@font-face {
    font-family: ;
    src: url();
}

